wsdl/Workflow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Workflow/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Workflow" targetNamespace="http://www.example.org/Workflow/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/Workflow/">
            <xsd:import schemaLocation="WFInfo.xsd"/>

            <!--  -->
            <xsd:element name="getAll" type="rootType">

                <xsd:keyref name="actionStatus_RefID" refer="action_ID">
                    <xsd:selector xpath="action_statusType"/>
                    <xsd:field xpath="@name"/>
                </xsd:keyref>

            </xsd:element>

            <xsd:element name="setProcess" type="processType"/>

            <xsd:element name="setActionInProcess" type="tns:setActionInProcess">

                <xsd:keyref name="setActionStatus_RefID" refer="action_ID">
                    <xsd:selector xpath="action_statusType"/>
                    <xsd:field xpath="@name"/>
                </xsd:keyref>

            </xsd:element>

            <xsd:element name="completeActionStatus" type="tns:completeActionStatus">

                <xsd:key name="action_status_ID">
                    <xsd:selector xpath="tns:action_statusType"/>
                    <xsd:field xpath="@name"/>
                </xsd:key>

                <xsd:keyref name="action_status_RefID" refer="tns:action_status_ID">
                    <xsd:selector xpath="tns:completeActionStatus"/>
                    <xsd:field xpath="@completedAction"/>
                </xsd:keyref>

            </xsd:element>

            <xsd:complexType name="completeActionStatus">

                <xsd:sequence>
                    <xsd:element name="process" type="processType"/>
                    <xsd:element name="workflow" type="workflowType"/>
                    <xsd:element name="completedAction" type="xsd:string"/>
                    <xsd:element name="date" type="xsd:dateTime"/>
                    <xsd:element name="actor" type="actorType"/>
                </xsd:sequence>

            </xsd:complexType>

            <xsd:complexType name="setActionInProcess">
                <xsd:sequence>
                    <xsd:element name="process" type="processType"/>
                    <xsd:element name="workflow" type="workflowType"/>
                    <xsd:element name="actionStatus" type="action_statusType"/>
                    <xsd:element name="actor" type="actorType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!--  -->


            <xsd:element name="getWorkflowAndProcess">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getWorkflowAndProcessResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="setProcessInServer">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="completeAction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="setAction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getWorkflowAndProcessResponse">
        <wsdl:part name="parameters" element="tns:getAll"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setProcessInServerRequest">
        <wsdl:part name="parameters" element="tns:setProcess"></wsdl:part>
    </wsdl:message>


    <wsdl:message name="completeActionRequest">
        <wsdl:part name="parameters" element="tns:completeActionStatus"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="setActionRequest">
        <wsdl:part name="parameters" element="tns:setActionInProcess"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Workflow">

        <wsdl:operation name="getWorkflowAndProcess">
            <wsdl:output message="tns:getWorkflowAndProcessResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setProcessInServer">
            <wsdl:input message="tns:setProcessInServerRequest"></wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="completeAction">
            <wsdl:input message="tns:completeActionRequest"></wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="setAction">
            <wsdl:input message="tns:setActionRequest"></wsdl:input>

        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WorkflowSOAP" type="tns:Workflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>

    <wsdl:service name="Workflow">
        <wsdl:port binding="tns:WorkflowSOAP" name="WorkflowSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>