xsd/WFInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="rootType"/>
    <xs:complexType name="action_statusType" mixed="true">
        <xs:sequence>
            <xs:element type="actorType" name="actor" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="date" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:boolean" name="taken_in_charge" use="optional" default="false"/>
        <xs:attribute type="xs:boolean" name="terminated" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="actorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="role" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element name="workflow" maxOccurs="unbounded">

                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:choice>
                            <xs:element type="simple_actionType" name="simple_action" minOccurs="0"/>
                            <xs:element type="process_actionType" name="process_action" minOccurs="0"/>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute type="xs:ID" name="name"/>
                </xs:complexType>

                <xs:key name="action_ID">
                    <xs:selector xpath="simple_actionType/process_actionType"/>
                    <xs:field xpath="@name"/>
                </xs:key>

                <xs:keyref name="action_RefID" refer="action_ID">
                    <xs:selector xpath="sub_actionType"/>
                    <xs:field xpath="@name_ref"/>
                </xs:keyref>

            </xs:element>
            <xs:element type="processType" name="process" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="processType">
        <xs:sequence>
            <xs:element type="action_statusType" name="action_status" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="date" use="required"/>
        <xs:attribute type="xs:IDREF" name="workflow" use="required"/>
    </xs:complexType>
    <xs:complexType name="actionType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="role" use="required"/>
        <xs:attribute type="xs:boolean" name="auto" use="optional" default="false"/>
    </xs:complexType>


    <xs:complexType name="sub_actionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name_ref" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="simple_actionType" mixed="true">
        <xs:complexContent>
            <xs:extension base="actionType">
                <xs:sequence>
                    <xs:element type="sub_actionType" name="sub_action" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="process_actionType">
        <xs:complexContent>
            <xs:extension base="actionType">
                <xs:attribute type="xs:IDREF" name="sub_workflow" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>