xsd/WFInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="action">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="role" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="AutomaticallyInstantiated" type="xs:boolean" use="optional" default="false"></xs:attribute>
    </xs:complexType>

    <xs:element name="workflow">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>

        </xs:complexType>



    </xs:element>

</xs:schema>